<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div class="fluid-container" th:fragment="menu(activeTab)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
        <a class="navbar-brand" th:href="@{/}">MyGeekSpring</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                    <a class="nav-link" th:href="@{/admin}">Admin Dashboard</a>
                </li>
                <li class="nav-item" th:classappend="${activeTab == 'Home' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li sec:authorize="hasAnyRole('ADMIN', 'MANAGER', 'EMPLOYEE')" class="nav-item"
                    th:classappend="${activeTab == 'StudentsList' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/students/list}">Students List</a>
                </li>

                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a th:href="@{'/user/' + ${#authentication.getName()}}">
                            <img class="nav-link" th:src="@{/resources/static/favicon.ico}"
                                 th:alt="${#authentication.getName()}" alt="">
                        </a>
                    </li>
                </div>

                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/user/' + ${#authentication.getName()}}"
                           th:text="${#authentication.getName()}">User name</a>
                    </li>
                </div>

                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="POST">
                            <input type="submit" class="btn btn-danger" value="Logout"/>
                        </form>
                    </li>
                </div>
                <div sec:authorize="isAnonymous()">
                    <li class="nav-item">
                        <form th:action="@{/login}" method="GET">
                            <input type="submit" class="btn btn-success" value="Login"/>
                        </form>
                    </li>
                </div>
                <div sec:authorize="isAnonymous()">
                    <li class="nav-item">
                        <form th:action="@{/register/showRegistrationForm}" method="GET">
                            <input type="submit" class="btn btn-secondary" value="Register"/>
                        </form>
                    </li>
                </div>
            </ul>
        </div>
    </nav>
    <div class="visible-md" style="height:80px;"></div>
</div>

</body>
</html>