<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Student Courses</title>
    <head th:insert="~{fragments/my-head :: header}"></head>
</head>
<body>
<div class="container">
    <nav>
        <div th:insert="~{fragments/my-nav :: menu(CoursesList)}"></div>
    </nav>

    <main>
        <!--/*@thymesVar id="coursesByStudentId" type="java.util.List<ru.blinov.mygeekspringboot.entities.Course>"*/-->
        <!--/*@thymesVar id="coursesList" type="java.util.List<ru.blinov.mygeekspringboot.entities.Course>"*/-->
        <h1>Active Courses</h1>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th sec:authorize="hasRole('ADMIN')">Actions</th>
            </tr>
            </thead>

            <tr th:each="course : ${coursesByStudentId}">
                <td th:text="${course.id}"></td>
                <td th:text="${course.name}"></td>
                <td sec:authorize="hasRole('ADMIN')">
                    <a class="btn btn-danger" th:href="${#httpServletRequest.getRequestURI()} + '/remove/' + ${course.id}"
                       role="button">Unroll</a>
                </td>
            </tr>
        </table>
        <br>

        <h1>Available Courses</h1>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th sec:authorize="hasRole('ADMIN')">Actions</th>
            </tr>
            </thead>

            <tr th:each="avCourse : ${coursesList}">
                <td th:text="${avCourse.id}"></td>
                <td th:text="${avCourse.name}"></td>
                <td sec:authorize="hasRole('ADMIN')">
                    <a class="btn btn-primary" th:href="${#httpServletRequest.getRequestURI()} + '/add/' + ${avCourse.id}"
                       role="button">Enroll</a>
                </td>
            </tr>
        </table>
        <br>

        <a th:href="@{/students/list}">Back</a>
    </main>

</div>
</body>

<footer>
    <div th:insert="~{fragments/my-footer :: foot}"></div>
</footer>

</html>